@{
    Layout = "_LayoutDashboard";
}

<div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3" style="background-color:rgba(247,248,250, 1)";  >
                <h4 class="text-capitalize text-primary text-center">Employee Data Gender With Bar Chart</h4>
            </div>
            <div class="card-body p-3">
                <div class="chart">
                    <div id="statis1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3" style="background-color:rgba(247,248,250, 1)";>
                <h4 class="text-capitalize text-primary text-center">Employee Data Gender With Pie Chart</h4>
            </div>
            <div class="card-body p-3">
                <div class="chart">
                    <div id="statis"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="wrapper">
    <div class="content-area">
        <div class="container-fluid">
            <div class="main">
                <div class="row sparkboxes mt-4 mb-4">
                    <div class="col-md-4">
                        <div class="box box1">
                            <div id=""></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box2">
                            <div id=""></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box3">
                            <div id="spark3"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-4">
                    <div class="col-md-6">
                        <div class="box">
                            <div id="bar"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div id="donut"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-4">
                    <div class="col-md-6">
                        <div class="box">
                            <div id="area"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div id="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@